@import url("https://recipes.jonatascb.com/assets/custom-font.css");

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Baloo Tammudu 2", cursive;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

figure {
    margin: 0;
}

img {
    border-radius: 2px;
    width: 100%;
    height: auto;
}

h1 {
    text-align: center;
    line-height: 3rem;
}

ul li,
ol li {
    margin: 1rem 0;
}

.container {
    display: grid;
    column-gap: 2rem;
    margin: 1rem;
    min-height: 100vh;
    background: #fff;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    padding: 1rem;
}

.counter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.message {
    text-align: center;
    margin-top: 5px;
}

span {
    display: inline-block;
    padding: 10px 10px 6px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    margin: 5px 5px;
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    body {
        margin: 10px auto;
        max-width: 980px;
        padding: 2rem;
    }
}